@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
#main_game {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main_game .console_action {
  margin-bottom: 2rem;
}

#main_game .console_action li {
  text-align: center;
}

#main_game .row {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main_game .row .healthbar {
  border-radius: 25%;
  width: 24px;
  height: 80%;
  background-color: #fff;
  border: 1px solid #ccc;
  position: relative;
}

#main_game .row .healthbar .bar {
  width: 100%;
  display: block;
  font-family: arial;
  font: size 6px;
  background-color: red;
  color: black;
  position: absolute;
  bottom: 0;
}

#main_game #backGroundContainer {
  position: relative;
  width: 345px;
  height: 198px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid black;
  border-radius: 6%;
  -webkit-box-shadow: 5.5px 5.5px darkslategrey;
          box-shadow: 5.5px 5.5px darkslategrey;
}

#main_game #backGroundContainer .player_one_container {
  position: absolute;
  top: 15px;
  left: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#main_game #backGroundContainer .player_one_container img {
  width: 210px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

#main_game #backGroundContainer .player_two_container {
  position: absolute;
  top: 15px;
  right: -5%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#main_game #backGroundContainer .player_two_container img {
  width: 210px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#main_game .log_container {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main_game .log_container #actionBox {
  background: radial-gradient(rgba(22, 237, 160, 0.52), #145a47);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid black;
  -webkit-box-shadow: 5.5px 5.5px darkslategrey;
          box-shadow: 5.5px 5.5px darkslategrey;
}

#main_game .log_container #console,
#main_game .log_container #turn_container {
  background: radial-gradient(rgba(22, 237, 160, 0.52), #145a47);
  margin-left: 10px;
  margin-right: 10px;
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 100%;
  border: 2px solid black;
  -webkit-box-shadow: 5.5px 5.5px darkslategrey;
          box-shadow: 5.5px 5.5px darkslategrey;
}

#main_game .log_container #console li,
#main_game .log_container #turn_container li {
  list-style: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'/%3E");
  margin: 15px;
}

table {
  margin: 5px;
}

table th {
  margin: 5px;
  border: 1px solid black;
}

table td {
  border: 1px solid black;
}

#player_select {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#player_select .bg_container {
  background: radial-gradient(rgba(22, 237, 160, 0.52), #145a47);
  margin-top: 3rem;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  -webkit-box-shadow: 5.5px 5.5px darkslategrey;
          box-shadow: 5.5px 5.5px darkslategrey;
}

#player_select .bg_container #preview {
  margin-top: 15px;
  background-image: url("../image/background/PNG/game_background_1/game_background_1.png");
  background-size: contain;
  width: 90%;
  height: 130px;
}

#player_select .bg_container select {
  margin: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#player_select .players_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#player_select .create {
  background: radial-gradient(rgba(22, 237, 160, 0.52), #145a47);
  padding: 1rem;
  margin: 2vw;
  height: auto;
  border: 2px solid black;
  border-radius: 12%;
  -webkit-box-shadow: 5.5px 5.5px darkslategrey;
          box-shadow: 5.5px 5.5px darkslategrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#player_select .create .name_container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

#player_select .create select {
  margin: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: transparent;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}

@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .bg_container {
    padding: 1rem;
    border: 2px solid black;
    border-radius: 12%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    height: auto;
  }
  .bg_container #preview {
    margin-top: 15px;
    border-radius: 12%;
    background-image: url("../image/background/PNG/game_background_1/game_background_1.png");
    background-size: contain;
    width: 80%;
    height: 130px;
  }
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

header {
  position: fixed;
}

#game_enter {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#game_enter > * {
  margin: 15px;
}

#game_enter > * li {
  text-align: center;
}

#game_enter h1 {
  text-align: center;
}

#settings {
  font-size: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  border: none;
}

#settings:hover {
  opacity: 0.6;
}

#settings:active {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

#menu_settings {
  position: fixed;
  z-index: 5;
  top: 60px;
  right: 20px;
  background-color: white;
  border-radius: 8px;
  padding: 15px;
}

#menu_settings #settings_table {
  font-size: 14px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  color: green;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

#menu_settings #settings_table td {
  padding: 10px;
}

#menu_settings #settings_table input {
  width: 2rem;
}

body {
  position: relative;
  background-image: radial-gradient(rgba(22, 237, 160, 0.52), #145a47), url("../image/background/493b39a0017626970362b990394a3d95.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Press Start 2P', cursive;
}

body button {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.25rem;
  background: transparent;
  border-style: none;
  width: 12rem;
  height: 3rem;
}

body button:hover {
  -webkit-transform: scale(1.1) translateY(-2%);
          transform: scale(1.1) translateY(-2%);
}

body input,
body select {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
  font-family: 'Press Start 2P', cursive;
  background-color: transparent;
}

body #popUpEnd {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 2;
  padding: 5px;
  background-color: #145a47;
}
/*# sourceMappingURL=style.css.map */