@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
#main_game {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main_game #backGroundContainer {
  position: relative;
  width: 380px;
  height: 216px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-size: contain;
  background-repeat: no-repeat;
  border: 5px solid black;
  border-radius: 6%;
  -webkit-box-shadow: 5.5px 5.5px darkslategrey;
          box-shadow: 5.5px 5.5px darkslategrey;
}

#main_game #backGroundContainer .player_one_container {
  position: absolute;
  top: 15px;
  left: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#main_game #backGroundContainer .player_one_container img {
  width: 240px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

#main_game #backGroundContainer .player_two_container {
  position: absolute;
  top: 15px;
  right: -5%;
  border: 1px solid red;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#main_game #backGroundContainer .player_two_container img {
  width: 240px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#main_game .log_container {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#main_game .log_container #actionBox {
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid black;
  -webkit-box-shadow: 5.5px 5.5px darkslategrey;
          box-shadow: 5.5px 5.5px darkslategrey;
}

#main_game .log_container #console {
  margin-left: 10px;
  margin-right: 10px;
  width: 45%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 50%;
  border: 2px solid black;
  -webkit-box-shadow: 5.5px 5.5px darkslategrey;
          box-shadow: 5.5px 5.5px darkslategrey;
}

#player_select {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#player_select .create {
  margin: 4vw;
  border: 2px solid black;
  border-radius: 12%;
  -webkit-box-shadow: 5.5px 5.5px darkslategrey;
          box-shadow: 5.5px 5.5px darkslategrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#player_select .create input {
  width: 50%;
}

#player_select .create select {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#player_select .create button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}

@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

header {
  position: fixed;
}

#game_enter {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#game_enter > * {
  margin: 15px;
}

#game_enter > * li {
  text-align: center;
}

body {
  background: radial-gradient(#16eda0, #145a47);
  font-family: 'Press Start 2P', cursive;
}

body button {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.25rem;
  background: transparent;
  border-style: none;
  width: 12rem;
  height: 3rem;
}

body button:hover {
  color: #145a47;
  -webkit-transform: scale(1.1) translateY(-1%);
          transform: scale(1.1) translateY(-1%);
}

body button input {
  font-family: 'Press Start 2P', cursive;
  background-color: transparent;
}
/*# sourceMappingURL=style.css.map */