#main_game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .console_action{
        margin-bottom: 2rem;
        li{
        text-align: center;
        margin-bottom: 15px;
    }
}
    .row {
        width: fit-content;
        height:30vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .healthbar{
            border-radius: 25%;
            width: 24px;
            background-color:#fff;
            border:1px solid #ccc;
            position:relative; 

            .bar{
            width:100%;
            display:block;        
            font-family:arial;
            font: size 6px; 
            background-color:red;
            color:black;       
            position:absolute;
            bottom:0;        
            } 
        }
    }
    #backGroundContainer {
        position: relative;
        width:60vw;    ;
        height:80%;
        justify-content: space-between;
        background-size: contain;
       
        background-position: center;
        border: 5px solid black;
        border-radius: 6%;
        box-shadow: 5.5px 5.5px darkslategrey;
        .player_one_container {
            //Player 1
            position: absolute;
            top: 0%;
            left: 10%;
            width: 15rem;
           
        }
        .player_two_container {
            //Player 2
            position: absolute;
            top: 0%;
            right: 10%;
            width: 15rem;
           
            
               
                transform: rotateY(180deg);
            
        }
    }
    .log_container {
        
        padding: 15px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 25vh;
        flex-wrap: wrap;
        #actionBox {
            background:radial-gradient(rgba(22, 237, 160, 0.52), rgb(20, 90, 71));
            font-size: 1rem;
            width: fit-content;
            height: fit-content;
            display: flex;
            align-items: center;
            flex-direction: column;
            border: 2px solid black;
            box-shadow: 5.5px 5.5px darkslategrey;
            button{
                font-size: 1rem; 
                img{
                    height: 1rem;
                }
            }
        }
        #console,
        #turn_container {
            background:radial-gradient(rgba(22, 237, 160, 0.52), rgb(20, 90, 71));
            margin-left: 10px;
            margin-right: 10px;
            width: 50%;
            height: fit-content;
            max-height: 100%;
            border: 2px solid black;
            box-shadow: 5.5px 5.5px darkslategrey;
            li {
                list-style: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'/%3E");
                margin: 15px;
            }
        }
    }    
}


table{
    margin:5px;
    th{
    margin:5px;
    border:1px solid black; 
    }
    td{
        
        border:1px solid black; 
    }

}