#main_game{
    display: flex;
    flex-direction: column;
    align-items: center;
    #backGroundContainer{
        position: relative;
        width: 380px;
        height: 216px;
        justify-content: space-between;
        background-size: contain;
        background-repeat: no-repeat;
        border:2px solid black;
        box-shadow: 5.5px 5.5px darkslategrey;
        .player_one_container{ //Player 1
            position:absolute;
            top: 15px;
            left: 5px;
            border :1px solid red;
            img{
                border :1px solid blue; 
            }
            }
        .player_two_container{ //Player 2
            position: absolute;
            top: 15px;
            right: -5%;
            border :1px solid red;
            img{
                border :1px solid blue; 
            }
        }
    }
    .log_container{
        align-self:baseline;
        padding: 15px;
        display: flex;
        justify-content: center;
        width: 100%;
        #actionBox{
            width: 30%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            border:2px solid black;
            box-shadow: 5.5px 5.5px darkslategrey;
        
        }
        #console{
            margin-left: 10px;
            margin-right: 10px;
            width: 40%;
            height: 50px;
            border:2px solid black;
            box-shadow: 5.5px 5.5px darkslategrey;
            

        }
    }
}
