#player_select{
    height: 100vh;
    display: flex;
    justify-content: center;   
    align-items: center;
        .create{margin: 4vw;
            border:2px solid black;
            border-radius: 12%;
            box-shadow: 5.5px 5.5px darkslategrey;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            input{
                width: 50%;
            }
            select{
                width: fit-content;
            }
            button{
                width: fit-content;
            }
            
        }
    }