header {
    position: fixed;
}

#game_enter {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &>* {
        margin: 15px;
        li {
            text-align: center;
        }
    }
    h1 {
        text-align: center;
    }
}