@import'colors';
@import 'mainGame';
@import 'playerSelect';
@import 'responsive';
@import 'titleMenu';
@import'menusetting';

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    position: relative;
    background-image: radial-gradient(rgba(22, 237, 160, 0.52), rgb(20, 90, 71)),
    url('../image/background/493b39a0017626970362b990394a3d95.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    font-family: 'Press Start 2P', cursive;
    button {
        font-family: 'Press Start 2P', cursive;
        font-size: 1.25rem;
        background: transparent;
        border-style: none;
        width: 12rem;
        height: 3rem;
        &:hover {
            transform: scale(1.1) translateY(-2%);
        }
    }
    input,
    select {
        align-self: center;
        width: 50%;
        font-family: 'Press Start 2P', cursive;
        background-color: transparent;
    }
    #popUpEnd {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 45%;
        z-index: 2;
        padding: 5px;
        background-color: rgb(20, 90, 71);
    }
}